# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/

# Environment
.env
.env.*

!.env.example

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Build
dist/
build/

data/indexes/